In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("../scraping_results/scraping_log.csv")
df = df.drop_duplicates(subset = ["webpage", "success"])
df

,Unnamed: 0,source,webpage,success,error
0,0,bars,https://bars.am/en/properties/standard/apartme...,True,NaN
1,1,myrealty,https://myrealty.am/en/3-bedroom/apartment-for...,True,NaN
2,2,bars,https://bars.am/en/properties/standard/apartme...,True,NaN
3,3,myrealty,https://myrealty.am/en/2-bedroom/apartment-for...,True,NaN
4,4,bars,https://bars.am/en/properties/standard/apartme...,True,NaN
...,...,...,...,...,...
1192,1192,bars,https://bars.am/en/properties/standard/apartme...,True,NaN
1193,1193,bars,https://bars.am/en/properties/standard/apartme...,True,NaN
1194,1194,bars,https://bars.am/en/properties/standard/apartme...,True,NaN
1195,1195,bars,https://bars.am/en/properties/standard/apartme...,True,NaN
1196,1196,bars,https://bars.am/en/properties/standard/apartme...,True,NaN

In [16]:
df.to_csv("../scraping_results/scraping_log.csv")