In [24]:
%load_ext autoreload
%autoreload 2
import sys
import pandas as pd
sys.path.append("..")
from Services import GeoService, MapFeatureAggregator, AddressToCoordinateConverter

import warnings
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
data = pd.read_csv("../processed_data/data_no_map.csv", index_col = 0)
data.head(1)

,source,id,price,area,rooms,floor,storeys,bathroom_count,new_building,F_Furniture,...,latitude,longitude,building_type_Monolit,building_type_Other,building_type_Panel,building_type_Stone,condition_Good Condition,condition_Needs Renovation/Repair,condition_New/Excellent Condition,condition_Other
0,bars,4-3-1430,2148.760331,60.5,2.0,3.0,13.0,1.0,1,0,...,44.503848,40.198558,0,1,0,0,0,1,0,0

In [27]:
data["coordinates"] = data.apply(lambda row: (row['longitude'], row['latitude']), axis=1)

In [28]:
significant_places = { 
    "opera" : (40.18600,44.51509),
    "malibu" : (40.18306,44.50799),
    "aua" : (40.19243,44.50446),
    "zvartnoc" : (40.1523,44.4005),
    "dalma": (40.1791, 44.48846),
    "yerevan_mall": (40.1554014, 44.5004910),
    
    "shumyan_cemetery": (40.19808, 44.45623),
    "nork_cemetery": (40.19281, 44.54679),
    "central_cemetery": (40.1508, 44.5389),
    "davtashen_cemetery": (40.22316, 44.47704),
    "zeytun_cemetery": (40.21245, 44.5462),
    "yerablur": (40.15946, 44.4536),
    "avan_cemetery": (40.20994, 44.57205),
    
    "baghramyan_subway": (40.19724, 44.49378),
    "shengavit_subway": (40.14764, 44.48229),
    "barekamutyun_subway": (40.1969400, 44.4950315),
    "yeritasardakan_subway": (40.1862126, 44.5198850),
    "zoravar_subway" : (40.17122, 44.51217),
    "sasunci_subway" : (40.1546043, 44.5071543),
    "gorcarain_subway" : (40.14107, 44.49867),
    "shengavit_subway" : (40.1449161, 44.4858505),
    "gergin_subway" : (40.1502947, 44.4826370),
    "charbakh_subway" : (40.1407315, 44.4707780),
    
    "avan" : (40.21883, 44.58259),
    "massiv" : (40.1419, 44.518)
}

geo_service = GeoService(
    significant_places,
    radius = 300
)

featurer = MapFeatureAggregator(geo_service)
significant_distances = featurer.significant_distances(data, "coordinates")
amenities = featurer.amenities_count(data, "coordinates")

Progress: 2802/2802

In [34]:
list(concatenated.columns)
important_amenities = [
    "L_payment_terminal",
    "L_pharmacy",
    "L_atm",
    "L_car_wash",
    "L_waste_disposal",
    "L_parking",
    "L_bank",
    "L_clinic",
    "L_fuel",
    "L_school",
    "L_place_of_worship",
    "L_music_school",
    "L_university",
    "L_kindergarten",
    "L_bus_station",
    "L_hospital",
    "L_prison",
    "L_stripclub"
]

,L_payment_terminal,L_pharmacy,L_atm,L_car_wash,L_waste_disposal,L_parking,L_bank,L_clinic,L_fuel,L_school,L_place_of_worship,L_music_school,L_university,L_kindergarten,L_bus_station,L_hospital,L_prison,L_stripclub
0,6,5,5,4,4,2,2,1,1,1,0,0,0,0,0,0,0,0
1,6,5,5,4,4,2,2,1,1,1,0,0,0,0,0,0,0,0
2,0,7,11,2,0,2,3,0,1,1,0,0,0,0,0,0,0,0
3,4,1,7,3,1,6,4,3,1,2,1,1,1,1,0,0,0,0
4,0,0,1,2,0,4,1,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,0,1,8,2,0,9,1,1,0,1,0,0,0,0,0,3,0,0
2798,6,6,5,1,5,8,3,0,0,0,0,0,3,0,0,0,0,0
2799,0,1,8,2,0,9,1,1,0,1,0,0,0,0,0,3,0,0
2800,19,6,25,3,5,9,11,3,0,3,0,1,1,2,0,2,0,0
2801,0,1,1,2,0,1,1,0,2,3,0,0,0,3,0,0,0,0

In [35]:
concatenated = pd.concat([
    data,
    significant_distances,
    amenities[important_amenities]
], axis = 1)

In [36]:
concatenated

,source,id,price,area,rooms,floor,storeys,bathroom_count,new_building,F_Furniture,...,L_fuel,L_school,L_place_of_worship,L_music_school,L_university,L_kindergarten,L_bus_station,L_hospital,L_prison,L_stripclub
0,bars,4-3-1430,2148.760331,60.5,2.0,3.0,13.0,1.0,1,0,...,1,1,0,0,0,0,0,0,0,0
1,bars,4-3-1430.1,2237.252862,96.1,3.0,4.0,13.0,2.0,1,0,...,1,1,0,0,0,0,0,0,0,0
2,bars,1-N-432,3580.562660,156.4,4.0,9.0,17.0,2.0,0,1,...,1,1,0,0,0,0,0,0,0,0
3,bars,1-N-429,5466.666667,75.0,3.0,3.0,12.0,2.0,0,0,...,1,2,1,1,1,1,0,0,0,0
4,bars,1-A-118,3043.478261,138.0,4.0,3.0,5.0,2.0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,bnakaran,d117922,1923.076923,78.0,2.0,4.0,10.0,1.0,0,0,...,0,1,0,0,0,0,0,3,0,0
2798,bnakaran,d93008,2888.888889,90.0,3.0,3.0,5.0,2.0,0,0,...,0,0,0,0,3,0,0,0,0,0
2799,bnakaran,d117922,1923.076923,78.0,2.0,4.0,10.0,1.0,0,0,...,0,1,0,0,0,0,0,3,0,0
2800,bnakaran,d117893,3500.000000,180.0,4.0,3.0,9.0,2.0,1,0,...,0,3,0,1,1,2,0,2,0,0
2801,bnakaran,d117920,1957.142857,35.0,2.0,9.0,9.0,1.0,0,0,...,2,3,0,0,0,3,0,0,0,0