In [49]:
import pandas as pd
import os
import shutil

In [50]:
def copy_images(from_dir, to_dir):
    shutil.copytree(from_dir, to_dir)

In [53]:
def delete_images_not_in_data(data_file, images_dir):
    # Load your dataset into a pandas DataFrame
    dataset = pd.read_csv(data_file)  # Change the file path accordingly
    # Define the directory path
    directory_path = images_dir  # Change to your actual directory path
    to_delete = []
    # Iterate through the folders in the directory
    for folder_name in os.listdir(images_dir):
        folder_path = os.path.join(images_dir, folder_name)

        # Check if the folder name (source) is in the dataset
        if folder_name in dataset['source'].values:
            folder_files = set(os.listdir(folder_path))

            # Extract the relevant IDs from the dataset for the current source
            ids_in_dataset = set(dataset[dataset['source'] == folder_name]['id'])

            # Calculate the set difference to find images not in the dataset
            files_to_delete = folder_files - ids_in_dataset

            # Delete the images not in the dataset
            for file_to_delete in files_to_delete:
                file_path = os.path.join(folder_path, file_to_delete)
                if "DS_Store" not in file_path:
                    to_delete.append(file_path)
        else:
            # If the source is not in the dataset, you can handle it accordingly
            print(f"Source '{folder_name}' not found in the dataset, skipping...")

    # If needed, you can add error handling for file operations
    print("Deleting", len(to_delete))
    for file_path in to_delete:
        shutil.rmtree(file_path)
        
def delete_datapoint_with_no_images(data_dir, images):

    # Load your dataset into a pandas DataFrame
    dataset = pd.read_csv(data_dir)  # Change the file path accordingly

    # Define the directory path
    directory_path = images  # Change to your actual directory path

    # Create a list to store indices of rows to delete
    rows_to_delete = []

    # Iterate through the DataFrame rows
    for index, row in dataset.iterrows():
        source = row['source']
        id_value = row['id']
        folder_path = os.path.join(directory_path, source)

        # Check if the image corresponding to the row exists in the directory
        if not os.path.exists(os.path.join(folder_path, id_value)):
            rows_to_delete.append(index)
    print(rows_to_delete)
    # Delete rows with no corresponding images
    dataset.drop(rows_to_delete, inplace=True)

    # If needed, reset the index of the modified DataFrame
    dataset.reset_index(drop=True, inplace=True)

    return dataset

In [55]:

data_dir = '../processed_data/data.csv'
images = '../processed_data/images/'

copy_images("../processed_data/images", "../processed_data/images_small")
delete_images_not_in_data(
    '../processed_data/data_small.csv',
    "../processed_data/images_small"
)
dataset = delete_datapoint_with_no_images(
    '../processed_data/data_small.csv',
    "../processed_data/images_small"
)
dataset.to_csv('../processed_data/data_small.csv', index=False)

Source '.DS_Store' not found in the dataset, skipping...
Deleting 2158
[]

,source,id,price,area,rooms,floor,storeys,bathroom_count,new_building,F_Furniture,...,L_fuel,L_school,L_place_of_worship,L_music_school,L_university,L_kindergarten,L_bus_station,L_hospital,L_prison,L_stripclub
0,bars,4-3-1433,225000.0,125.00,3.0,6.0,16.0,2.0,0,1,...,2,0,2,1,0,3,0,0,0,0
1,bnakaran,d115995,140000.0,45.00,2.0,7.0,10.0,1.0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,bars,2-2-252,110000.0,49.00,2.0,1.0,5.0,1.0,0,1,...,3,6,1,0,2,0,0,0,0,0
3,bnakaran,d117427,176000.0,80.00,3.0,4.0,6.0,1.0,1,0,...,0,3,0,1,1,2,0,2,0,0
4,bnakaran,d115038,540000.0,180.00,4.0,8.0,16.0,2.0,1,0,...,0,3,0,1,1,3,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,myrealty,141323,360000.0,88.00,3.0,4.0,5.0,2.0,1,1,...,0,0,0,0,1,0,0,0,0,0
296,bars,1-3-859,266000.0,90.00,3.0,8.0,10.0,1.0,0,1,...,1,2,1,1,1,2,0,0,0,0
297,myrealty,124678,155000.0,70.00,2.0,4.0,10.0,1.0,0,0,...,0,2,0,1,0,0,1,0,0,0
298,bnakaran,d112500,215000.0,40.00,2.0,4.0,16.0,1.0,1,0,...,0,1,0,0,0,1,1,0,0,0
299,bars,1-3-222,250000.0,191.36,4.0,4.0,5.0,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0